In [114]:
#Importing Required Libraries
import folium
import os
import json
import pandas as pd
import matplotlib.pyplot as plt
import branca.colormap as cm
%matplotlib inline

In [101]:


#pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

# read taxi data for Jan 2018
data='yellow_tripdata_2018-01.csv'
yt_data = pd.read_csv(data)

        tpep_pickup_datetime  PULocationID  LocationID        Borough
0        2018-01-01 00:21:05            41          41      Manhattan
1        2018-01-01 00:49:32            41          41      Manhattan
2        2018-01-01 00:11:56            41          41      Manhattan
3        2018-01-01 00:58:32            41          41      Manhattan
4        2018-01-01 00:14:09            41          41      Manhattan
5        2018-01-01 00:32:15            41          41      Manhattan
6        2018-01-01 00:38:34            41          41      Manhattan
7        2018-01-01 00:38:54            41          41      Manhattan
8        2018-01-01 00:28:06            41          41      Manhattan
9        2018-01-01 00:36:18            41          41      Manhattan
10       2018-01-01 00:50:29            41          41      Manhattan
11       2018-01-01 00:35:57            41          41      Manhattan
12       2018-01-01 00:44:14            41          41      Manhattan
13       2018-01-01 00:48:29            41          41      Manhattan
14       2018-01-01 00:21:32            41          41      Manhattan
15       2018-01-01 00:48:28            41          41      Manhattan
16       2018-01-01 00:47:55            41          41      Manhattan
17       2018-01-01 00:07:30            41          41      Manhattan
18       2018-01-01 00:14:29            41          41      Manhattan
19       2018-01-01 00:25:04            41          41      Manhattan
20       2018-01-01 00:04:04            41          41      Manhattan
21       2018-01-01 00:47:48            41          41      Manhattan
22       2018-01-01 00:17:35            41          41      Manhattan
23       2018-01-01 01:00:37            41          41      Manhattan
24       2018-01-01 00:51:38            41          41      Manhattan
25       2018-01-01 00:54:47            41          41      Manhattan
26       2018-01-01 00:45:16            41          41      Manhattan
27       2018-01-01 00:11:39            41          41      Manhattan
28       2018-01-01 00:50:15            41          41      Manhattan
29       2018-01-01 00:54:23            41          41      Manhattan
...                      ...           ...         ...            ...
8759844  2018-01-30 07:37:45           109         109  Staten Island
8759845  2018-01-30 07:42:55           109         109  Staten Island
8759846  2018-01-07 17:42:13           115         115  Staten Island
8759847  2018-01-12 11:49:06           115         115  Staten Island
8759848  2018-01-14 19:11:43           115         115  Staten Island
8759849  2018-01-14 19:43:24           115         115  Staten Island
8759850  2018-01-15 05:44:01           115         115  Staten Island
8759851  2018-01-19 21:19:30           115         115  Staten Island
8759852  2018-01-21 18:14:41           115         115  Staten Island
8759853  2018-01-07 18:02:56           184         184          Bronx
8759854  2018-01-28 21:14:55           184         184          Bronx
8759855  2018-01-07 20:20:39           245         245  Staten Island
8759856  2018-01-15 14:41:58           245         245  Staten Island
8759857  2018-01-18 08:53:36           245         245  Staten Island
8759858  2018-01-20 07:38:59           245         245  Staten Island
8759859  2018-01-25 00:06:23           245         245  Staten Island
8759860  2018-01-10 01:13:21           221         221  Staten Island
8759861  2018-01-13 02:02:35            27          27         Queens
8759862  2018-01-13 02:06:33            27          27         Queens
8759863  2018-01-16 22:03:55            27          27         Queens
8759864  2018-01-18 23:37:12            27          27         Queens
8759865  2018-01-27 00:33:55            27          27         Queens
8759866  2018-01-14 10:49:13           105         105      Manhattan
8759867  2018-01-14 11:54:00           105         105      Manhattan
8759868  2018-01-15 17:57:10           105         105      Manhattan
8759869  2018-01-20 18:26:03           105         105      Manhattan
8759870  2018-01-20 18:36:59           105         105      Manhattan
8759871  2018-01-20 23:31:09           105         105      Manhattan
8759872  2018-01-31 06:40:18           105         105      Manhattan
8759873  2018-01-25 00:30:29            44          44  Staten Island

[8759874 rows x 4 columns]

In [136]:
#Group data by pick up and drop off locations
PUDic=yt_data.groupby("PULocationID")['passenger_count'].sum()
DODic=yt_data.groupby("DOLocationID")['passenger_count'].sum()

In [153]:
#Creating Linear Colormap for pick up and drop off location depending on the min and max values of each group 
linearPU = cm.LinearColormap(
    ['green', 'yellow', 'red'],
    vmin=min(PUDic), vmax=max(PUDic),
    caption="Pick Up Pessengers"
)
linearDO = cm.LinearColormap(
    ['green', 'yellow', 'red'],
    vmin=min(DODic), vmax=max(DODic),
    caption="Drop off Pessengers"
)

In [210]:
#loading taxi zones data
zones = os.path.join('taxi_zones.json')
geo_json_data = json.load(open(zones))

In [214]:
#merging taxi zones data with the number of pick up and drop off passengers 
for i in geo_json_data["features"]:
    
    i['properties']["PassengersPU"]=int(PUDic[i['properties']['LocationID']] if (i['properties']['LocationID'] in PUDic) else 0)
    i['properties']["PassengersDO"]=int(DODic[i['properties']['LocationID']] if (i['properties']['LocationID'] in DODic) else 0)

In [215]:
#drawing map of location with data of pick up passengers
m = folium.Map([40.7831, -73.9712], tiles='cartodbpositron', zoom_start=10)
folium.GeoJson(
    geo_json_data,
    style_function=lambda properties: {
        'fillColor': linearPU(properties['properties']['PassengersPU']),
        #'fillColor': print(properties['properties']['LocationID']),
        'color': 'black',
        'weight': 1,
    },
    tooltip= folium.features.GeoJsonTooltip(fields=['zone','borough','PassengersPU'],aliases=['Zone','Borough','Pick up Passengers'])
).add_to(m)
m.add_child(linearPU)
m.save('PickUpMap.html')

In [216]:
#drawing map of location with data of drop off passengers
m2 = folium.Map([40.7831, -73.9712], tiles='cartodbpositron', zoom_start=10)
folium.GeoJson(
    geo_json_data,
    style_function=lambda properties: {
        'fillColor': linearDO(properties['properties']['PassengersDO']),
        #'fillColor': print(properties['properties']['LocationID']),
        'color': 'black',
        'weight': 1,
    },
    tooltip= folium.features.GeoJsonTooltip(fields=['zone','borough','PassengersDO'],aliases=['Zone','Borough','Drop off Passengers'])
).add_to(m2)
m2.add_child(linearDO)
m2.save('DropOffMap.html')

In [ ]:
#By examination of the map we realize that the zones in the center of manhattan city have hight pickup and drop off numbers
#Zones like Upper east Side North/South Midtown east and midtown center have hightest passenger pickup and drop off numbers
#La Guardia and JFK airport have comparatively much more pick up passengers then drop off passengers